# Flutterwave Keys
VITE_FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_WEBHOOK_HASH=
UNCANNY_AUTOMATOR_WEBHOOK_URL=
UNCANNY_CHECKOUT_STARTED_WEBHOOK_URL=

# WordPress / Fluent CRM
WP_USERNAME=
WP_APP_PASSWORD=
WP_URL=
SGE_SECRET=
