# Paystack Keys
VITE_PAYSTACK_PUBLIC_KEY=pk_test_25a3f7af61aceee5f86bf9b9d0d3b9f00e57d41f
PAYSTACK_SECRET_KEY=sk_test_746c2eb7152b1ba505a99c7312fb59a8e98bcc10

# Flutterwave Keys (Previously used)
VITE_FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_WEBHOOK_HASH=
UNCANNY_AUTOMATOR_WEBHOOK_URL=
UNCANNY_CHECKOUT_STARTED_WEBHOOK_URL=

# WordPress / Fluent CRM
WP_USERNAME=
WP_APP_PASSWORD=
WP_URL=
SGE_SECRET=
